<form class="text-center border border-light p-5">
  <p class="h4 mb-4">Looks like you're not logged in</p>
  <p>
    <a href="/login" class="btn btn-outline-dark" style="margin: 1em">Login</a>
    or
    <a href="/register" class="btn btn-outline-dark" style="margin: 1em">Register</a>
  </p>
</form>
